/* Fonts are font-family: 'Bungee Shade', cursive (for header)
font-family: 'Tillana', cursive (for body) */

body {
    display: block;
}
h1 {
    font-family: 'Bungee Shade', cursive;
    text-align: center;
}

main {
    display: grid;
    grid-template-rows:  2fr 4fr;
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
    width: 100%;
    min-height: 600px;
    margin: 0 auto;
}
instructions {
    background: grey;
    grid-area: 1 / 1 / 2 / 2;
}

h2 {
    padding: 0px 0px 0px 20px;
    font-family: 'Tillana', cursive;
}

ul {
    list-style-type: square;
}
li {
    font-family: 'courier', monospace;
}

gameBoard {
    grid-area: 2 / 1 / 3 / 2;
    width: 80%;
    height: 100%;
    justify-self: center;
    background: rgb(177, 194, 211);
}

pegGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    min-height: 100%
}
peg {
    text-align: center;
    justify-content: flex-start;
    display: inline-flex;
    flex-direction: column-reverse;
    align-items: center;
}

#peg1 {
    background: rgba(128, 128, 128, 0.473);
}

#peg2 {
    background: rgba(128, 128, 128, 0.897);
}

#peg3 {
    background: rgba(128, 128, 128, 0.473);
}
disk {
    border: solid;
    border-radius: 5px;
    height: 40px;
    /* transition: all .1s; */
}

.red {
    background: red;
    border-color: red;
    width: 90%;
}

.orange {
    background: orange;
    border-color: orange;
    width: 75%;
}

.yellow {
    background: yellow;
    border-color: yellow;
    width: 60%;
}

.green {
    background: green;
    border-color: green;
    width: 45%;
}

.blue {
    background: blue;
    border-color: blue;
    width: 30%;
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg)
    }
    25% {
        transform: rotate(2deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.selected {
    animation: wiggle 0.5s infinite;
}


@keyframes bounce {
    0% {
        margin-bottom: 60px;
        transform: rotate(8deg);
    }
    16.7% {
        margin-bottom: 6px;
        transition: all 0.9s;
    }
    33.4% {
        transform: rotate(-10deg);
        margin-bottom: 6px;
        transition: all .2s;
    }
    50% {
        margin-bottom: 17px;
        transition: all 0.1s;
    }
    66.7% {
        margin-bottom: 6px;
        transition: all 0.1s;
    }
    83.4% {
        margin-bottom: 2px;
        transform: rotate(2deg);
        transition: all 0.2s;
    }
    100% {
        margin-bottom: 0px;
        transform: rotate(0deg);
    }
}

.drop {
    margin-bottom: 0px;
    animation-name: bounce;
    animation-duration: 0.5s;
}
/* drop currently has a bug where if dropped into the peg it's already placed in, currentDisk loops the bounce animation */