/* Fonts are font-family: 'Bowlby One SC', cursive (for header)
font-family: 'Tillana', cursive (for body) */

body {
    display: block;
    background: rgb(243, 118, 104);
}
header {
    line-height: 1;
    font-family: 'Bowlby One SC', cursive;
    text-align: center;
    color: rgb(75, 117, 99);
    text-decoration-line: underline;
    margin-bottom: 20px
}
h1 {
    margin: 20px 0px 0px 0px;
    font-size: 55px;
}

h2 {
    margin: 0;
    font-size: 43px;
}

h3 {
    font-size: 60px;
    margin: 0;
}

h4 {
    font-size: 75px;
    margin: 0;
}

main {
    display: grid;
    grid-template-rows:  2fr 4fr;
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
    width: 100%;
    min-height: 600px;
    margin: 0 auto;
}
instructions {
    grid-area: 1 / 1 / 2 / 2;
    background: #A3CBF1;
    border-radius: 10px;
    color: #423C40;
    font-family: 'Tillana', cursive;
    width: 90%;
    justify-self: center;
}

instructions h2 {
    padding: 0px 0px 0px 20px;
    text-decoration: underline;
}

ul {
    list-style-type: square;
}
/* li {
    font-family: 'courier', monospace;
}*/

gameBoard {
    grid-area: 2 / 1 / 3 / 2;
    width: 80%;
    height: 100%;
    justify-self: center;
    background: #79BFA1;
    border: solid #423C40;
    border-radius: 5px;
    max-width: 800px;
    min-width: 600px;
    position: relative;
}

startButton {
    position: absolute;
    left: 40%;
    right: 40%;
    width: 20%;
    top: 154px;
    z-index: 1;
    border: solid;
    border-radius: 15px;
    text-align: center;
    background: rgb(124, 166, 206);
}

.recede {
    z-index: -1;
    opacity: 0;
    transition: 1s;
}
pegGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    min-height: 100%
}
peg {
    text-align: center;
    justify-content: flex-start;
    display: inline-flex;
    flex-direction: column-reverse;
    align-items: center;
}

#peg2 {
    background: rgba(75, 117, 99, 0.7);
}

disk {
    border: solid;
    border-radius: 5px;
    height: 40px;
    /* transition: all .1s; */
}

.red {
    background: red;
    border-color: red;
    width: 90%;
}

.orange {
    background: orange;
    border-color: orange;
    width: 75%;
}

.yellow {
    background: yellow;
    border-color: yellow;
    width: 60%;
}

.green {
    background: green;
    border-color: green;
    width: 45%;
}

.blue {
    background: blue;
    border-color: blue;
    width: 30%;
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg)
    }
    25% {
        transform: rotate(2deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.selected {
    animation: wiggle 0.5s infinite;
}


@keyframes bounce {
    0% {
        margin-bottom: 60px;
        transform: rotate(8deg);
    }
    16.7% {
        margin-bottom: 6px;
        transition: all 0.9s;
    }
    33.4% {
        transform: rotate(-10deg);
        margin-bottom: 6px;
        transition: all .2s;
    }
    50% {
        margin-bottom: 17px;
        transition: all 0.1s;
    }
    66.7% {
        margin-bottom: 6px;
        transition: all 0.1s;
    }
    83.4% {
        margin-bottom: 2px;
        transform: rotate(2deg);
        transition: all 0.2s;
    }
    100% {
        margin-bottom: 0px;
        transform: rotate(0deg);
    }
}

.drop {
    margin-bottom: 0px;
    animation-name: bounce;
    animation-duration: 0.5s;
}

footer {
    background: #A3CBF1;
    border-radius: 10px;
    color: #423C40;
    width: 90%;
    margin: 35px auto;
    font-family: 'Tillana', cursive;
}

footer h2 {
    padding: 0px 20px 0px 20px;
    text-decoration: underline;
}

p {
    padding: 0px 20px 10px 20px;
}

.fa {
    padding: 20px;
    font-size: 50px;
    width: 23px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa-instagram {
    background: rgb(236, 62, 43);
    color: white;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}